		html{
			font:normal normal 14px "Mircosoft YaHei","sans-serif";
		}
		body,ul,li,ol,dl{
            margin:0;
            padding:0;
		}
		ul,ol{
			list-style: none;
		}
		a{
			color:#ccc;
			text-decoration:none;
		}
